version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: auth-db
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=auth_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  catalog-service:
    build:
      context: . 
      dockerfile: Dockerfile
    container_name: catalog-service
    ports:
      - "8082:8082"
    environment:
      - DATABASE_URL=postgres://user:password@postgres:5432/auth_db
      - PORT=8082
    depends_on:
      - postgres 

volumes:
  postgres_data: